*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

*.Rmd linguist-detectable=true
*.Rmd linguist-language=RMarkdown
*.Rmd linguist-documentation=false

*.bib linguist-detectable=false
*.bib linguist-language=TeX
*.bib linguist-documentation=false
